<div style="text-align:center">
  <h1>
    Welcome to HISP!
  </h1>
</div>
<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <h2 class="text-center">Interview Question</h2>
  </div>
</div>
<ul>
  <li>
    <button (click)="generateTable('table1')">Generate Table 1</button>
    &nbsp;&nbsp;&nbsp;
    <button (click)="generateTable('table2')">Generate Table 2</button>
  </li>
</ul>

<div>
  <h2>{{tableName}}</h2>

  <table *ngIf="doneLoading">
    <tr>
      <th *ngFor="let header of table.header">{{header}}</th>
    </tr>

    <tr *ngFor="let row of table.rows">
      <td *ngFor="let data of row.data">{{data}}</td>
    </tr>
  </table>
</div>



<router-outlet></router-outlet>
